@import './colors.scss';

*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
	vertical-align: baseline;
	border: 0 none;
	outline: 0;
}

html,
body {
	margin: 0 auto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

body {
	overflow-y: auto;
}

.grecaptcha-badge {
	visibility: hidden;
}

#root {
	height: 100vh;
	width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: auto;
  min-height: calc(100% - 36px);
  width: 100%;
	--width-sections: 1240px;
	--padding-sections-left: calc((100% - var(--width-sections)) / 2);
	width: var(--width-sections);
	padding: 18px var(--padding-sections-left);
}

$border-radius: 5px;
$mobile_starting_width: 568px;

$breakpoints: (
	// desktop
	1240px: 60px,
	// ipad landscape
	1112px: 60px,
	// ipad pro
	1024px: 60px,
	910px: 30px,
	// ipad
	834px: 30px,
	// mobile landscape
	812px: 30px,
	// ipad s
	768px: 30px,
	// mobile s landscape
	#{$mobile_starting_width}: 13px,
	// mobile
	375px: 13px,
	// mobile s
	320px: 13px
);

@each $width, $margin in $breakpoints {
	@media screen and (max-width: $width) {
		.container {
			--width-sections: calc(100% - #{$margin} - #{$margin});
			--padding-sections-left: #{$margin};
		}
	}
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: $border-color;
}
