@import '../../styles/index.scss';

.home {
}

.home__form {
	width: 100%;
	max-width: 400px;
}

.btn {
	text-align: center;
	padding: 14px 20px;
	border-radius: 5px;
	filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.18));
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	background-color: $background-color-grey-4;
	color: $color-base;

	position: relative;

	font-size: $font-size-9;
}

.btn:hover {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.28));
	transition: all 0.2s ease-in-out;
	transform: scale(0.99);
}

.btn:active {
	filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.38));
}

.btn--loading {
	pointer-events: none;
	background-size: 10px 10px;
	background-image: repeating-linear-gradient(
		45deg,
		$background-color-grey-2 0,
		$background-color-grey-2 3px,
		$background-color-grey-1 0,
		$background-color-grey-1 50%
	);
	animation: loading_animation 4s linear infinite;
}

@keyframes loading_animation {
	0% {
		background-position: 0% 0;
	}

	100% {
		background-position: 100% 0;
	}
}
